<article>
    <head>
        <link rel="stylesheet" href="/assets/css/home.css">
        <style>
          .image-gallery {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
          }
        
          .image-item {
            flex: 1 0 210px; /* Set the desired width of each image item */
            margin: 10px;
          }
        
          @media (max-width: 768px) {
            .image-item {
              flex-basis: 100%; /* Collapse the images into one column on mobile screens */
            }
          }
        </style>
    </head>
    <body>
        <main class="main">

            <!--==================== HOME ====================-->
            <section class="home-section" id="home">
                <div class="home-grid">
                  <div>
                    <h1>Zeyuan Yang.</h1>
                    <h3>I program in C++. </h3>
                  </div>
                  <div>
                    <div class="blob-mask">
                      <img class="blob-img" src="/assets/img/profile-icon.png">
                    </div>  
                  </div>
                </div>
                

                <div class="image-gallery" style="margin-top: 20px">
                  <div class="image-item">
                    <a href="https://www.youtube.com/watch?v=N6ErzyjnrJY"><img src="/assets/img/thumbnail-1.png" width="200" height="150" alt="Image 1"></a>
                  </div>
                  <div class="image-item">
                    <a href="https://www.bilibili.com/video/BV1Lk4y167TD/"><img src="/assets/img/thumbnail-2.png" width="210" height="150" alt="Image 2"></a>
                  </div>
                  <div class="image-item">
                    <a href="https://www.bilibili.com/video/BV1ya4y1J7hk/"><img src="/assets/img/thumbnail-3.png" width="210" height="150" alt="Image 3"></a>
                  </div>
                  <div class="image-item">
                    <a href="https://www.bilibili.com/video/BV1W64y1R7TK/"><img src="/assets/img/thumbnail-4.png" width="210" height="150" alt="Image 4"></a>
                  </div>
                  <div class="image-item">
                    <a href="https://www.bilibili.com/video/BV1h7411R7sm/"><img src="/assets/img/thumbnail-5.png" width="210" height="150" alt="Image 5"></a>
                  </div>
                  <div class="image-item">
                    <a href="https://www.bilibili.com/video/BV1vV411a76x/"><img src="/assets/img/thumbnail-6.png" width="210" height="150" alt="Image 6"></a>
                  </div>
                </div>

                <h1>IOS App: Latin Garden. </h1>
                <h3>4.9 stars with 123 reviews.</h3>
                
                <a href="https://apps.apple.com/cn/app/%E6%8B%89%E4%B8%81%E5%9B%AD/id1570940286?platform=iphone"> <img src="/assets/img/latin-2.png"> </a>



            

            <!--==================== ABOUT ====================-->
            <section class="about-section" id="about">
              <h1>About</h1>
              <p>
                As a child I gazed at the vault of stars, dreaming to explore the cosmos and sail among the galaxy. But one day I met a problem: “How to use the minimum number of satellites to cover the maximum area of Earth”, which drove me into a deep meditation. It wasn’t until highschool that I encountered algorithms, which suddenly opened my eyes: Wow, that satellite problem could be solved by linear programming! From then on, algorithms became a part of my life. It not only could fulfill one’s wildest dream, but also advance the society forward.
              </p>
                
            </section>
            
            <h1>Experiences</h1>
            <section id="Experiences">
                <!-- Js injects here  -->
            </section>

        </main>
    </body>
</article>

<script>
  
  var exps = [
    {
      company: "Ovative Group",
      position: "Data Engineer",
      link: "https://ovative.com/",
      description: [
        "Participated in writing a C/C++ client for CORTX distributed cloud storage, enabling large-file upload.",
        "Undertook system testing and detected an inefficient 4KB-chunking algorithm, optimizing its speed by 2x.",
        "•	Implemented a 16-node Kubernetes deployment by configuring RAM and CPU to enable scalability."
      ],
      icon: "/assets/img/exp-7.png"
    },
    {
      company: "Seagate Technology",
      position: "Research Engineer",
      link: "https://www.seagate.com/products/storage/object-storage-software/",
      description: [
        "Participated in writing a C/C++ client for CORTX distributed cloud storage, enabling large-file upload.",
        "Undertook system testing and detected an inefficient 4KB-chunking algorithm, optimizing its speed by 2x.",
        "•	Implemented a 16-node Kubernetes deployment by configuring RAM and CPU to enable scalability."
      ],
      icon: "/assets/img/exp-1.png"
    },
    {
      company: "TikTok",
      position: "Software Engineer",
      link: "https://github.com/faradawn/vue-sudoku",
      description: [
        "Enhanced the runtime of a JavaScript Sudoku from 140s to 0.02s for touch screens.",
        "Achieved a 9x reduction in memory consumption by converting arrays to bitmasks.",
        "Created a full-stack HTML-Django scheduling website that saved visitors 10 minutes of registration time."
      ],
      icon: "/assets/img/exp-2-1.png"
    },
    {
      company: "Byto Inc.",
      position: "Software Engineer",
      link: "https://employer.byto.tech/login",
      description: [
        "Developed a Vue.js job site adopted by 53 stores in Chicago with Agile software development cycle.",
        "Implemented a real-time chatroom with NoSQL and node.js backend that enhanced user engagement by 30%.",
        "Integrated Google Maps API and Algolia to search company locations."
      ],
      icon: "/assets/img/exp-3.png"
    },
    {
      company: "Solved Chinese",
      position: "Software Engineer",
      link: "https://solvedchinese.org/index/",
      description: [
        "Built a React – Django web app used by 10+ schools to teach Chinese.",
        "Administrated a PostgreSQL database with complex schema and managed authentication.",
        "Endorsed by St. Paul high school and improved based on its feedback."
      ],
      icon: "/assets/img/exp-4.png"
    },
    {
      company: "iOS App: Latin Gardin",
      position: "App Developer",
      link: "https://github.com/faradawn/latin-garden",
      description: [
        "Built a React Native app that received a 4.9 rating with 116+ reviews on App Store.",
        "Endorsed by students from the Beijing Forestry University.",
        "Implemented authentication and async storage."
      ],
      icon: "/assets/img/exp-5.png"
    },
    {
      company: "ACM-ICPC Programming Contest",
      position: "Silver medal winner",
      link: "https://icpc.global/",
      description: [
        "Ranked 10th place out of 100+ teams in 2023 North America ACM-ICPC contest.",
        "Ranked 8th place out of 100+ teams in 2022 North America ACM-ICPC contest.",
        "Implement tree, graph, and network flow algorithms in C++.",
      ],
      icon: "/assets/img/exp-6.png"
    },
  ]

  var exp = document.getElementById("Experiences");
  for(var i = 0; i < exps.length; i++){
    var cardDiv = document.createElement('div');
    cardDiv.className = "card-grid";

    var a = document.createElement('a');
    a.href = exps[i].link;
    var img = document.createElement('img');
    img.src = exps[i].icon;
    img.className = "card-img";
    a.appendChild(img);

    var h2 = document.createElement('h2');
    h2.appendChild(document.createTextNode(exps[i].company));

    var h4 = document.createElement('h4');
    var italy = document.createElement('i');
    italy.appendChild(document.createTextNode(exps[i].position));
    h4.appendChild(italy);

    var ul = document.createElement('ul');
    exps[i].description.forEach(item => {
      var li = document.createElement('li');
      li.appendChild(document.createTextNode(item));
      ul.appendChild(li);
    })

    var textDiv = document.createElement('div');
    textDiv.appendChild(h2);
    textDiv.appendChild(h4);
    textDiv.appendChild(ul);

    cardDiv.append(a);
    cardDiv.append(textDiv);
    exp.appendChild(cardDiv);
  }
</script>
