<article>
    <head>
        <link rel="stylesheet" href="/assets/css/home.css">
        <style>
          .image-gallery {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
          }
        
          .image-item {
            flex: 1 0 210px; /* Set the desired width of each image item */
            margin: 10px;
          }
        
          @media (max-width: 768px) {
            .image-item {
              flex-basis: 100%; /* Collapse the images into one column on mobile screens */
            }
          }
        </style>
    </head>
    <body>
        <main class="main">

            <!--==================== HOME ====================-->
            <section class="home-section" id="home">
                <!-- Two side grid -->
                <div class="home-grid">
                  <div>
                    <h1>Zeyuan (Faradawn) Yang.</h1>
                    <h3>Researcher in distributed systems and ML.</h3>
                  </div>
                  <div>
                    <div class="blob-mask">
                      <img class="blob-img" src="/assets/img/profile-icon.png">
                    </div>  
                  </div>
                </div>

                <section class="about-section" id="about">
                  <h1>Education</h1>
                  <p>
                    I obtained my B.S. in Mathematics and M.S. in Computer Science from the <a href="https://cs.uchicago.edu/">University of Chicago</a>. I had the privilege to have <a href="https://people.cs.uchicago.edu/~haryadi/" >Professor Haryadi Gunawi</a> as my advisor. My research focuses on Cloud Storage, Distributed Systems, and Machine Learning for Systems.
                </p>
                
                

                <!-- My research -->
                <h1>Research Experiences</h1>

                <h3>1. "Leveraging AI for Faster Storage Access: a Graph-Neural-Network-Based Prefetcher" [2023] <a href="/assets/files/GNN paper Zeyuan Yang and Daniar Kurniawan.pdf">[pdf]</a></h3>
                <p>Traditional cache prefetchers struggle with the non-sequential access of modern multi-process applications. We develop a hybrid approach combining machine learning to identify access streams with classical algorithms for processing. This method outperforms both ML and huristic methods by up to 10% on traces such as Microsfot Research Cambridge. </p>

                <h3>2. "Byte-VAE: Novel Memory-Efficient Image Generation Model." [2023] <a href="/assets/files/ByteVAE.pdf">[pdf]</a></h3>
                <p>Vector-Quantize Variational Auto-Encoder (VQ-VAE) suffers from high memory usage due to need of a codebook. We designed an innovative rounding method that eliminates the in-memory codebook, achieving near-zero memory consumption while maintaining identical image generation quality.</p>

                <h3>3. "Scalability Study of Seagate’s Distributed System." [2022] <a href="/assets/files/Seagate_CORTX_Report.pdf">[pdf]</a> </h3>
                <p>Seagate Technology's distributed storage faced a latency problem. I used the Analytic and Diagnostic Database subsystem to collect metrics like queue depths and operation latencies. Compiling this data, I created a detailed graph of each component's time consumption, leading to a system upgrade that improved throughput by 20%. </p>

                <!-- My Professional Experiences -->
                </section>
                <h1>Professional Experiences</h1>
                <section id="Experiences">
                    <!-- Js injects here  -->
                </section>
                
                <!-- My hobby -->
                <h1>Video Creation Hobby</h1>
                <div class="image-gallery" style="margin-top: 20px">
                  <div class="image-item">
                    <a href="https://www.youtube.com/watch?v=N6ErzyjnrJY"><img src="/assets/img/thumbnail-1.png" width="200" height="150" alt="Image 1"></a>
                  </div>
                  <div class="image-item">
                    <a href="https://www.bilibili.com/video/BV1Lk4y167TD/"><img src="/assets/img/thumbnail-2.png" width="210" height="150" alt="Image 2"></a>
                  </div>
                  <div class="image-item">
                    <a href="https://www.bilibili.com/video/BV1ya4y1J7hk/"><img src="/assets/img/thumbnail-3.png" width="210" height="150" alt="Image 3"></a>
                  </div>
                  <div class="image-item">
                    <a href="https://www.bilibili.com/video/BV1W64y1R7TK/"><img src="/assets/img/thumbnail-4.png" width="210" height="150" alt="Image 4"></a>
                  </div>
                  <div class="image-item">
                    <a href="https://www.bilibili.com/video/BV1h7411R7sm/"><img src="/assets/img/thumbnail-5.png" width="210" height="150" alt="Image 5"></a>
                  </div>
                  <div class="image-item">
                    <a href="https://www.bilibili.com/video/BV1vV411a76x/"><img src="/assets/img/thumbnail-6.png" width="210" height="150" alt="Image 6"></a>
                  </div>
                </div>

                <h1>App Creation Hobby </h1>
                <h3>Published 3 apps that obtained a 4.9 rating with 5.6k downloads on App Store. The latest app won $10,000 at 2024 Ai4Science Hackathon.</h3>
                <!-- three bullet points -->
                <ul>
                  <li><a href="https://apps.apple.com/cn/app/%E6%8B%89%E4%B8%81%E5%9B%AD/id1570940286">"Latin Garden"</a> -- a language learning app endorsed by students from Beijing Forestry University.</li>
                  <li><a href="https://apps.apple.com/lu/app/%E7%BF%BB%E6%BB%9A%E7%9A%84%E5%B0%8F%E6%80%AA/id1571057749">"Rolling Monsters"</a> -- a game that reduces stress for college students.</li>
                  <li><a href="https://apps.apple.com/us/app/flowers-dont-die/id6504419644">"Flowers Don't Die"</a> -- an educational app that uses voice AI to accelerate code learning.</li>
                </ul>
                
                <a href="https://apps.apple.com/cn/app/%E6%8B%89%E4%B8%81%E5%9B%AD/id1570940286?platform=iphone"> <img src="/assets/img/app-store-statistics.png"> </a>

              <!--==================== ABOUT ====================-->
            

            

            
                
            

        </main>
    </body>
</article>

<script>
  
  var exps = [
    {
      company: "Ovative Group",
      position: "Data Engineer",
      link: "https://ovative.com/",
      description: [
        "Enhanced data ingestion from 13.31s to 1.17s by introducing Hive partition to a Hadoop storage.",
        "Reduced 4.7x processing time by converting CSV to Parquet, creating the first Delta Lake for ETL data analytics.",
        "Managed a migration of 32 platforms from GCP to Azure Databricks to adopt Apache Spark ecosystem."
      ],
      icon: "/assets/img/exp-7.png"
    },
    {
      company: "TikTok",
      position: "Software Engineer",
      link: "https://github.com/faradawn/vue-sudoku",
      description: [
        "Enhanced the runtime of a JavaScript Sudoku from 140s to 0.02s for touch screens.",
        "Achieved a 9x reduction in memory consumption by converting arrays to bitmasks.",
        "Created a full-stack HTML-Django scheduling website that saved visitors 10 minutes of registration time."
      ],
      icon: "/assets/img/exp-2-1.png"
    },
    {
      company: "Seagate Technology",
      position: "Research Engineer",
      link: "https://www.seagate.com/products/storage/object-storage-software/",
      description: [
        "Participated in writing a C/C++ client for CORTX distributed cloud storage, enabling large-file upload.",
        "Undertook system testing and detected an inefficient 4KB-chunking algorithm, optimizing its speed by 2x.",
        "Implemented a 16-node Kubernetes deployment by configuring RAM and CPU to enable scalability."
      ],
      icon: "/assets/img/exp-1.png"
    },
    {
      company: "Byto Inc.",
      position: "Software Engineer",
      link: "https://employer.byto.tech/login",
      description: [
        "Developed a Vue.js job site adopted by 53 stores in Chicago with Agile software development cycle.",
        "Implemented a real-time chatroom with NoSQL and node.js backend that enhanced user engagement by 30%.",
        "Integrated Google Maps API and Algolia to search company locations."
      ],
      icon: "/assets/img/exp-3.png"
    },
    // {
    //   company: "Solved Chinese",
    //   position: "Software Engineer",
    //   link: "https://solvedchinese.org/index/",
    //   description: [
    //     "Built a React – Django web app used by 10+ schools to teach Chinese.",
    //     "Administrated a PostgreSQL database with complex schema and managed authentication.",
    //     "Endorsed by St. Paul high school and improved based on its feedback."
    //   ],
    //   icon: "/assets/img/exp-4.png"
    // },
    // {
    //   company: "iOS App: Latin Gardin",
    //   position: "App Developer",
    //   link: "https://github.com/faradawn/latin-garden",
    //   description: [
    //     "Built a React Native app that received a 4.9 rating with 116+ reviews on App Store.",
    //     "Endorsed by students from the Beijing Forestry University.",
    //     "Implemented authentication and async storage."
    //   ],
    //   icon: "/assets/img/exp-5.png"
    // },
    {
      company: "ACM-ICPC Programming Contest",
      position: "Silver medal winner",
      link: "https://icpc.global/",
      description: [
        "Ranked 10th place out of 100+ teams in 2023 North America ACM-ICPC contest.",
        "Ranked 8th place out of 100+ teams in 2022 North America ACM-ICPC contest.",
        "Implement tree, graph, and network flow algorithms in C++.",
      ],
      icon: "/assets/img/exp-6.png"
    },
  ]

  function fillExperience(elementName){
    var exp = document.getElementById(elementName);
    for(var i = 0; i < exps.length; i++){
      var cardDiv = document.createElement('div');
      cardDiv.className = "card-grid";
  
      var a = document.createElement('a');
      a.href = exps[i].link;
      var img = document.createElement('img');
      img.src = exps[i].icon;
      img.className = "card-img";
      a.appendChild(img);
  
      var h2 = document.createElement('h2');
      h2.appendChild(document.createTextNode(exps[i].company));
  
      var h4 = document.createElement('h4');
      var italy = document.createElement('i');
      italy.appendChild(document.createTextNode(exps[i].position));
      h4.appendChild(italy);
  
      var ul = document.createElement('ul');
      exps[i].description.forEach(item => {
        var li = document.createElement('li');
        li.appendChild(document.createTextNode(item));
        ul.appendChild(li);
      })
  
      var textDiv = document.createElement('div');
      textDiv.appendChild(h2);
      textDiv.appendChild(h4);
      textDiv.appendChild(ul);
  
      cardDiv.append(a);
      cardDiv.append(textDiv);
      exp.appendChild(cardDiv);
    }
  }

  fillExperience("Experiences");

</script>
